body {
    background-color: #222;
    color: white;
}

img {
    max-width: 100%;
}

div, .begin, .video, .level1, .level2, .level3, .activity, .awards, .coaches, .books {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.begin__header {
    padding: 1rem 0;
    font-family: sans-serif;
}

.begin__pair-programming {
    width: 70%;
    padding: 1rem 0;
}

.begin__pair-programming-cn {
    width: 30%;
    padding-bottom: 1rem;
}

.begin__pear {
    width: 25%;
    padding: 1rem 0;
}

.begin__button {
    border-radius: 0.2rem;
    background: yellow;
    padding: 1rem 7rem;
}

.video {
    padding-bottom: 2rem;
}

.video__header {
    padding: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
}

.video__layer1, .video__layer2, .video__layer3, .video__layer4, .video__layer5 {
    padding: 1rem 2rem;
    border: 1px solid yellow;
    width: 80%;
}

.level1__header {
    padding: 1rem 0;
    width: 70%;
}

.level1__keys--row, .level1__keys--row2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.level1__keys--row img {
    width: 20%;
}

.level1__keys--row2 img {
    width: 20%;
}

.level1__time {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

.level1__number, .level1__tiled {
    font-size: 2rem;
    font-weight: bolder;
}

.level1__tiled {
    color: gray;
}

.level1__description {
    font-family: sans-serif;
    text-align: center;
}

/*---------------------------------------------activity-start-----------------------------------------------*/
/*.activity {*/
    /*height: 570px;*/
/*}*/

.activity-detail {
    background-color: #3C3C3C;
    padding: 40px 0;
    /*width: 0;*/
    /*height: 0;*/
    width:75%;
    height:100%;
    position: relative;
}

.activity-detail__target, .activity-detail__process {
    align-items: flex-start;
    width: 80%;
    /*display: none;*/
}

.activity-detail__target {
    font-size: 1.4rem;
    line-height: 2rem;
}

.activity-detail__process {
    position: relative;
    line-height: 2.5rem;
    margin-top: 15px;
    color: #E4F02A;
}

.activity-detail__process--head {
    font-weight: bold;
}

.activity-detail__process--level {
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
}

.activity-detail__process--level .num {
    align-items: flex-start;
    padding-right:1rem;
}

.activity-detail__process--level .desciption {
    flex: 9;
    align-items: flex-start;
}

.activity-detail__process--end {
    width: 75%;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5rem;
    margin-top: 15px;
}

/*---------------------------------------------activity-end-----------------------------------------------*/
