body {
    background-color: #222;
    color: white;
}

img {
    max-width: 100%;
}

div, .begin, .video, .level1, .level2, .level3, .activity, .awards, .coaches, .books {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.begin__header {
    padding: 1rem 0;
    font-family: sans-serif;
    font-size: 0.5rem;
}

.begin__pair-programming {
    width: 70%;
    padding: 1rem 0;
}

.begin__pair-programming-cn {
    width: 30%;
    padding-bottom: 1rem;
}

.begin__pear {
    width: 25%;
    padding: 1rem 0;
}

.begin__button {
    border-radius: 0.2rem;
    background: yellow;
    padding: 1rem 7rem;
}

.video {
    padding-bottom: 2rem;
}

.video__header {
    padding: 1em;
    font-family: sans-serif;
    text-transform: uppercase;
}

.video__layer1, .video__layer2, .video__layer3, .video__layer4, .video__layer5 {
    padding: 1rem 2rem;
    border: 1px solid yellow;
    width: 80%;
}

.level1__header, .level2__header, .level3__header {
    padding: 1rem 0;
    width: 70%;
}

.level1__keys--row, .level1__keys--row2 {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}

.level1__keys--row img {
    width: 15%;
    padding: 0 0.5rem;
}

.level1__keys--row2 img {
    width: 15%;
    padding: 0 0.8rem;
}

.level1__time, .level2__time, .level3__time {
    display: block;
    font-family: sans-serif;
    font-size: 0.5rem;
}

.level1__number, .level1__tiled, .level2__number, .level2__tiled {
    font-size: 2rem;
    font-weight: bolder;
}

.level1__tiled, .level2__tiled {
    color: gray;
}

.level1__description, .level2__description, .level3__description {
    font-family: sans-serif;
    text-align: center;
    font-size: 0.5rem;
}

.level2__body {
    padding: 2rem;
    position: relative;
}

.level2__body__mac {
    width: 50%;
    position: relative;
}

.level2__body__mac-screen {
    position: absolute;
    width: 55%;
    top: 1.5rem;
    right: 1.5rem;
}

.level2__body__mac-screen {

}

.level2__body__pear-mouth {
    position: absolute;
    width: 9%;
    top: 3.0rem;
    right: 1.5rem;
}

.level2__body__pear-eye-white {
    position: absolute;
    width: 45%;
    top: 2.5rem;
    right: 0.5rem;
}

.level2__body__pear-eye-ball {
    position: absolute;
    width: 37%;
    top: 2.5rem;
    right: 0.9rem;
}

.level2__body__floor {
    position: absolute;
    bottom: 0rem;
}

.level2__body__floor-light {
    width: 42%;
    position: absolute;
    bottom: 0rem;
    right: 3rem;
}

.level2__description__note, .level3__description__note {
    color: yellow;
    padding: 0.5rem 0;
}


.level3__body {
    position: relative;
    padding: 2rem 2rem;
}

.level3__hands {
    flex-direction: row;
    padding: 1.5rem 0;
}

.level3__hands img {
    width: 40%;
}

.level3__left-hand {
    padding-left: 2rem;
}

.level3__right-hand {
    padding-right: 2rem;
}

.level3__background-vertical {
    width: 19%;
    position: absolute;
    top: 0;
}

.level3__background-horizontal {
    position: absolute;
    top: 0;
}

/*---------------------------------------------activity-start-----------------------------------------------*/
.activity {
    position: relative;
    width: 100%;
}

.activity-detail {
    background-color: #3C3C3C;
    padding: 40px 0;
    width: 75%;
    height: 100%;
    position: relative;
}

.activity-detail__target, .activity-detail__process {
    align-items: flex-start;
    width: 80%;
}

.activity-detail__target {
    font-size: 1.4rem;
    line-height: 2rem;
}

.activity-detail__process {
    position: relative;
    line-height: 2.5rem;
    margin-top: 15px;
    color: #E4F02A;
}

.activity-detail__process--head {
    font-weight: bold;
}

.activity-detail__process--level {
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
}

.activity-detail__process--level .num {
    align-items: flex-start;
    padding-right: 1rem;
}

.activity-detail__process--level .desciption {
    flex: 9;
    align-items: flex-start;
}

.activity-detail__process--end {
    width: 75%;
    align-items: center;
    margin: 0 auto;
    line-height: 1.5rem;
    margin-top: 15px;
}

/*---------------------------------------------awards-start-----------------------------------------------*/
.awards {
    width: 80%;
    position: relative;
}

.awards__header {
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.about-us {
    font-family: sans-serif;
}

.about-us__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-us__tw {
    flex: 0 0 70%
}

.about-us__tw__title {
    display: flex;
    flex-direction: row;
}

.about-us__tw__detail {
    font-size: 0.5rem;
}

.about-us__code {
    justify-content: center
}

.about-us__interactive {
    font-size: 1rem;
}
