@keyframes light-space-animation {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }

}

.level1__background-red1 {
    position: relative;
    height: 1px;
    width: 30%;
    background: linear-gradient(90deg, transparent 0%, red 0%, red 100%, transparent 100%);
}

.level1__background-red1--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 1px;
    width: 10px;
}

.level1__background-red1--position {
    position: absolute;
    width: 100%;
    top: -57%;
    transform: rotate(-67deg);
    left: 18%;
}

.level1__background-orange1 {
    position: relative;
    height: 2px;
    width: 10%;
    background: linear-gradient(90deg, transparent 0%, orange 0%, orange 100%, transparent 100%);
}

.level1__background-orange1--space {
    animation: 3s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 2px;
    width: 5px;
}

.level1__background-orange1--position {
    position: absolute;
    width: 100%;
    top: -7%;
    transform: rotate(-50deg);
    left: 19%;
}

.level1__background-orangered1 {
    position: relative;
    height: 3px;
    width: 18%;
    background: linear-gradient(90deg, transparent 0%, orangered 0%, orangered 100%, transparent 100%);
}

.level1__background-orangered1--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 3px;
    width: 5px;
}

.level1__background-orangered1--position {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 75%;
    transform: rotate(37deg);
    left: 17%;
}

.level1__background-red2 {
    position: relative;
    height: 1px;
    width: 14%;
    background: linear-gradient(90deg, transparent 0%, red 0%, red 100%, transparent 100%);
}

.level1__background-red2--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 1px;
    width: 5px;
}

.level1__background-red2--position {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 76%;
    transform: rotate(51deg);
    left: 3%;
}

.level1__background-orange2 {
    position: relative;
    height: 2px;
    width: 10%;
    background: linear-gradient(90deg, transparent 0%, orange 0%, orange 100%, transparent 100%);
}

.level1__background-orange2--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 2px;
    width: 5px;
}

.level1__background-orange2--position {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 45%;
    transform: rotate(99deg);
    left: -29%;
}

.level1__background-orangered2 {
    position: relative;
    height: 3px;
    width: 25%;
    background: linear-gradient(90deg, transparent 0%, orangered 0%, orangered 100%, transparent 100%);
}

.level1__background-orangered2--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 3px;
    width: 5px;
}

.level1__background-orangered2--position {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(126deg);
    left: -48%;
    top: 49%;
}

.level1__background-red3 {
    position: relative;
    height: 1px;
    width: 23%;
    background: linear-gradient(90deg, transparent 0%, red 0%, red 100%, transparent 100%);
}

.level1__background-red3--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 1px;
    width: 5px;
}

.level1__background-red3--position {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(160deg);
    left: -31%;
    top: -36%;
}

.level1__background-red4 {
    position: relative;
    height: 1px;
    width: 34%;
    background: linear-gradient(90deg, transparent 0%, red 0%, red 100%, transparent 100%);
}

.level1__background-red4--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 1px;
    width: 5px;
}

.level1__background-red4--position {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(220deg);
    top: -108%;
    left: -18%;
}

.level1__background-orange3 {
    position: relative;
    height: 3px;
    width: 16%;
    background: linear-gradient(90deg, transparent 0%, orange 0%, orange 100%, transparent 100%);
}

.level1__background-orange3--space {
    animation: 4s light-space-animation linear infinite;
    position: absolute;
    background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);
    height: 3px;
    width: 5px;
}

.level1__background-orange3--position {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(-127deg);
    top: -118%;
    left: -3%;
}

.light-relative-position {
    width: 100%;
    height: 100%;
    position: relative;
}

/*.level1__background-orange3--space {*/
/*animation: 4s light-space-animation linear infinite;*/
/*position: absolute;*/
/*background: linear-gradient(90deg, transparent 0%, #1c1c1c 0%, #1c1c1c 100%, transparent 100%);*/
/*height: 1px;*/
/*width: 5px;*/
/*}*/

/*.light1-red {*/
/*position: relative;*/
/*height: 10px;*/
/*background: linear-gradient(90deg, transparent 0%, red 0%, red 100%, transparent 100%);*/
/*width: 100%;}*/

/*.light1-animation {*/

/*}*/
/*.animation-space {*/
/*position: absolute;*/
/*animation: 4s light-space-animation infinite;*/
/*background: linear-gradient(45deg, transparent 45%, #1c1c1c 49.5%, #1c1c1c 50.5%, transparent 100%);*/
/*height: 25px;*/
/*width: 25px;*/
/*}*/

/*.light {*/
/*position: relative;*/
/*background: linear-gradient(45deg, transparent 50.3%, deeppink 49.5%, deeppink 50.5%, transparent 50.5%);*/
/*}*/

/*.light-size-10 {*/
/*height: 10%;*/
/*width: 10%;*/
/*}*/

/*.light-size-20 {*/

/*}*/

/*.light-size-30 {*/

/*}*/


