html {
    font-size: 16px;
}

.foot__entry-point {
    width: 100%;
    justify-content: space-between;
}

.thought-works-logo {
    width: 70%;
}

.last-part-do-not-parallax {
    position: absolute;
    top: 4500px;
}

.about-us__tw {
    flex: 0 0 80%;
}

.about-us__code {
    flex: 0 0 20%;
    align-items: flex-end;
}

.about-us__QR-Code {
    width: 90%;
}