html {
    font-size: 52px;
}

.level2__body, .level3__body {
    width: 70%;
}

.foot__entry-point {
    width: 50%;
    justify-content: space-between;
}

.last-part-do-not-parallax {
    position: absolute;
    top: 2450px
}

.about-us__tw__title {
    padding: 1rem 0;
    width: 100%;
}
.about-us__tw {
    flex: 0 0 63%;
}

.about-us__code {
    flex: 0 0 30%;
    align-items: flex-end;
}

.about-us__QR-Code {
    width: 50%;
}

.thought-works-logo {
    width: 40%;
}

.about-us__interactive {
    padding-right: 2.5rem;
}
